body {
    margin: 0;

    font: 16px / 1.2 'Roboto', sans-serif;;
    color: #000;

    background-color: #E5E5E5;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

p:last-child {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

img {
    display: block;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}



/* Page
=========================*/

.page {
    min-width: 320px;

    overflow: hidden;
}



/* Slick slide
r=========================*/

.home__slider {
    height: 406px;
}

.home__slider,
.materials__slider {
    overflow: hidden;
}

.materials__slider {
    margin-left: -25px;
}

.slick-slide {
    margin-left: 27px;

    position: relative;
}

.slick-list {
    margin-left:-27px;
}

.slick-slider button {
    display: block;
    width: 72px;
    height: 72px;

    background-color: #e4dfde;
    border: 0;
    cursor: pointer;

    font-size: 0;

    transition: background-color .2s linear;
}

.slick-slider button:hover,
.slick-slider button:focus {
    background-color: #0085FF;
}

.slick-prev,
.slick-next {
    position: absolute;
    bottom: 0;

    z-index: 999;
}

.slick-prev {
    left: 0;
}

.slick-next {
    left: 72px;
}

.materials__slider .slick-prev {
    left: 25px;
}

.materials__slider .slick-next {
    left: 97px;
}


.slick-prev:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border: solid #0085FF;
    border-width: 0 3px 3px 0;

    position: absolute;
    top: 42%;
    left: 45%;

    transform: rotate(135deg);

    transition: border-color .2s linear;
}

.slick-prev:hover:before,
.slick-prev:focus:before  {
    border-color: #fff;
}

.slick-next:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border: solid #0085FF;
    border-width: 0 3px 3px 0;

    position: absolute;
    top: 42%;
    left: 37%;

    transform: rotate(-45deg);

    transition: border-color .2s linear;
}

.slick-next:hover:before,
.slick-next:focus:before  {
    border-color: #fff;
}



/* Containers
=========================*/

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    max-width: 1210px;
    padding: 40px 0 60px 90px;

    border-left: 1px solid #DCDCDC;
}



/* Header
=========================*/

.header {
    display: flex;
}

.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    height: 150px;

    background-color: #0085FF;
}

.header__logo img {
    width: 130px;
    height: 130px;
}



/* Nav
=========================*/

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;

    font: 16px / 1.1 'Roboto', sans-serif;;
    color: #000;
}

.nav__li {
    margin-right: 30px;
}

.nav__li:last-child {
    margin-right: 0;
}

.nav__link {
    position: relative;

    transition: color .2s linear;
}

.nav__link:before {
    content: "";
    display: block;
    width: 26px;
    height: 3px;

    position: absolute;
    top: -4px;
    left: 0;

    background-color: #0075FF;
    opacity: 0;

    transition: opacity .2s linear;
}

.nav__link:hover,
.nav__link:focus {
    color: #0075FF;
}

.nav__link:hover:before,
.nav__link:focus:before {
    opacity: 1;
}

.nav__contact {
    font: 700 15px / 1.1 'Montserrat', sans-serif;;
    color: #000;
}



/* Home
=========================*/

.home {
    min-height: 789px;

    background: url("../img/home/bg.jpg") center no-repeat;
    background-size: cover;

    position: relative;
}

.home__wrap {
    display: flex;
    padding-bottom: 198px;
}

.home__content {
    width: 100%;
    max-width: 1450px;
    padding-top: 15px;

    border-left: 1px solid #DCDCDC;
}

.home__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.home__header {
    width: 665px;
    margin-right: 200px;
}

.suptitle {
    font: 30px / 1.2 'Roboto', sans-serif;;
    color: #5F5F5F;
}

.title {
    font: 900 42px / 1.2 'Roboto', sans-serif;;
    color: #000;
    text-transform: uppercase;
}

.home__description {
    width: 435px;

    font: 24px / 1.2 'Roboto', sans-serif;;
    color: #000;

    position: relative;
}

.home__description:before {
    content: "";
    display: block;
    width: 43px;
    height: 5px;

    background-color: #0085FF;

    position: absolute;
    top: 4px;
    left: -49px;
}

.scroll-down {
    min-width: 150px;
    height: 150px;
    padding-top: 169px;

    position: relative;
}

.arrow-down {
    display: block;
    padding-top: 20px;
}

.arrow-down__text {
    max-width: min-content;
    margin: 0 auto 30px;

    font: 14px / 1.1 'Montserrat', sans-serif;;
    color: #000;
}

.arrow-down__text-wrap {
    transform: rotateZ(90deg);
}

.arrow-down__icon img {
    margin: 0 auto;
}



/* Materials
=========================*/

.materials {
    padding: 82px 54px 27px 150px;

    background-color: #fff;
}

.materials__title {
    margin-bottom: 5px;

    font: 700 36px / 1.2 'Roboto', sans-serif;;
    color: #000;

    position: relative;
}

.materials__title:before {
    content: "";
    display: block;
    width: 43px;
    height: 5px;

    background-color: #0085FF;

    position: absolute;
    top: 10px;
    left: -51px;

    transform: translateY(-50%);
}

.materials__subtitle {
    font: 24px / 1.2 'Roboto', sans-serif;;
    color: #5F5F5F;
}

.materials__content {
    display: flex;
}

.materials__content-item--content {
    padding-top: 36px;
    margin-right: 27px;
}

.materials__content-header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.materials__number {
    margin-right: 18px;

    font: 700 70px / 1.2 'Roboto', sans-serif;;
    color: #0085FF;
}

.materials__content-title {
    padding-left: 25px;

    font: 500 24px / 1.2 'Roboto', sans-serif;;
    color: #000;
    text-transform: uppercase;

    position: relative;
}

.materials__content-title:before {
    content: "";
    display: block;
    width: 4px;
    height: 70px;

    background-color: #DBD6D3;

    position: absolute;
    top: -23px;
    left: 0;
}

.materials__text {
    width: 100%;
    max-width: 453px;

    font: 400 24px / 1.2 'Roboto', sans-serif;;
    color: #000;
}

.materials__indent {
    display: block;

    text-indent: 30px;
}

.materials__li {
    margin-bottom: 25px;

    position: relative;
}

.materials__li:last-child {
    margin-bottom: 0;
}

.materials__li:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;

    background-color: #000;
    border-radius: 50%;

    position: absolute;
    top: 9px;
    left: -26px;
}





